{% extends "base.html" %}

<script type = "text/javascript"
   src = "{{ url_for('static', filename = 'hello.js') }}" ></script>


{% block content %}
<form action="" method="post" novalidate>
<table style="width:100%">
  <div>
  <tr>
    <th>tytuł</th>
    <th>rok</th>
    <th>gatunek</th>
  </tr>
  {% for item in session.pop('list', []) %}
  <tr>
    <td>{{ item["title"] }} </td>
    <td>{{ item["year"] }}</td>
    <td>{{ item["type"] }}</td>
  </tr>
  {% endfor %}
  </div>
  <div>
  <input type="submit" value="Wypozycz" name="Wypozycz"/>
  </div>
</table>
</form>

{% endblock %}
